$salesForce-blue: #009DDC;
$font-color: #FFFFFF;
$fontSize: 1em;



.header {
  background-color: $salesForce-blue;
  color: $font-color;
}

.shape {
  font-size: .7rem;
  margin-top: 2px;
  margin-bottom: 1px;
}

