<!------------------Top Bar------------------------------------->
<div class="top-bar header grid-container">
  <div class="top-bar-left">
    <h3>Vehicle Rules</h3>
  </div>
</div>

<!-------------------Filter Inputs--------------------------------->
<div class="grid-container">
    <div class="slds-form slds-form_stacked">
      <div class="slds-form-element float-left" style="width: 40%; margin-right: 10px;">
        <label class="slds-form-element__label" for="text-input-id-1">Rule Filter</label>
        <input type="text" id="text-input-id-1" class="slds-input" placeholder="Enter Vehicle Rule"
               [(ngModel)]="ruleInput">
      </div>
      <div class="slds-form-element float-right" style="width: 40%;" >
        <label class="slds-form-element__label" for="text-input-id-2">Region Filter</label>
        <input type="text" id="text-input-id-2" class="slds-input" placeholder="Enter Region"
               [(ngModel)]="regionInput">
      </div>
    </div>
  <hr>
</div>
<!---------------------Progress Bar------------------------------->
<div class=" success progress grid-container" role="progressbar" data-overlay="true"
     [ngStyle]="{display: setDisplay()}"
     tabindex="0" aria-valuenow="20" aria-valuemin="0"
     aria-valuetext="75 percent" aria-valuemax="100">
            <span class="progress-meter" style="width: 75%">
              <p class="progress-meter-text">75%</p>
            </span>
</div>

<!--------------------- Table------------------------------->

<div class="grid-container">
  <div class="grid-x grid-padding">
    <table class="slds-table slds-table_bordered slds-table_cell-buffer">
      <thead>
      <tr class="slds-text-title_caps header">
        <th scope="col">
          <div class="slds-truncate" title="Activation">Action</div>
        </th>
        <th scope="col">
          <div class="slds-truncate" title="Status">Status</div>
        </th>
        <th scope="col">
          <div class="slds-truncate" title="Vehicle Rule">Vehicle Rule</div>
        </th>
        <th scope="col">
          <div class="slds-truncate" title="Region">Region</div>
        </th>
        <th scope="col">
          <div class="slds-truncate" title="Created By">Created By</div>
        </th>
        <th scope="col">
          <div class="slds-truncate" title="Created Date">Created Date</div>
        </th>
      </tr>
      </thead>
      <tbody>
      <!--iterate trough date to create table two pipe filters for vehicle rule and region search-->
      <tr  class="hover" *ngFor="let data of data | ruleFilter: ruleInput: 'vehicleRule'| regionFilter:regionInput: 'region'">
        <td>
          <button class=" shape" (click)="toggleStatus(data.status)"
                     [name]="toggleOn(data.status)">{{name}}</button>
        </td>
        <td>{{data.status}}</td>
        <td>{{data.vehicleRule}}</td>
        <td>{{data.region}}</td>
        <td>{{data.createdBy}}</td>
        <td>{{data.createdDate}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="grid-container">
  <button class="button warning large " data-open="refreshModal"
          (click)="refreshData()">Refresh Data</button>
</div>

<!-------------------Status Modal------------------------------------->
<div class="tiny reveal text-center" id="statusModal" data-reveal data-overlay="false">
  <h5>{{message}}</h5>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-------------------Refresh Modal------------------------------------->
<div class="tiny reveal grid-container text-center" id="refreshModal" data-reveal data-overlay="false">
  <h5>Loading....</h5>
</div>


